.page__title {
    margin: 30px auto;
}

.add-block {
    margin-left: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.form-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 1px solid #818181;
    border-radius: 10px;
    background: white;
    z-index: 1000;
}

.form-card__info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px 0 15px 0;
    align-items: center;
}

.form-card__info--img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #818181;
}

.table-block {
    margin-top: 30px;
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    border: 2px solid #bebebe;
    padding: 12px;
}

th {
    background-color: #f2f2f2;
}

tr :first-child {
    text-align: center;
}

.btn-block {
    display: flex;
    justify-content: space-around;
}

.delete-confirm {
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 1px solid #818181;
    border-radius: 10px;
    background: white;
    z-index: 1000;
}

.delete-confirm p {
    display: flex;
    justify-content: center;
    margin: 10px;
}